<div class="container message">
    <% provide :title, "welcome" %>
	<div>
		<p>Smart radio frequency signal utility meters won't be installed before we determine their likelihood to communicate.</p>
		<div class="control">
			<p><a href="<%= new_task_path %>" class="btn btn-lg btn-success">Yeah, Let's do it</a></p>
			Or
			<br />
			<p><a href="<%= new_dataset_path %>" class="btn btn-xs btn-info">Start with Generating a Dataset</a></p>
		</div>
	</div>
</div>
